## File: /etc/systemd/system/docker.service
[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target docker.socket
Requires=docker.socket

[Service]
Type=notify
# FIXME: Find what port should be used in cluster-advertise when not using swarm
ExecStart=/usr/bin/docker daemon -H fd:// --cluster-store="etcd://{% for host in groups['etcd_masters'] %}{{ hostvars[host][priv_interface]['ipv4']['address'] }}:2379{% if not loop.last %},{% endif %}{% endfor %}" --cluster-advertise={{ hostvars[inventory_hostname][priv_interface].ipv4.address }}:0
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
